@import '../../scss/variabler';

.nyhedercontainer {
    width: 960px;
    min-height: auto;
    margin: 0 auto 30px;
}

.stor__nyhed {
    width: 100%;
    height: auto;
    text-align: left;
    line-height: 45px;

    img {
        width: 100%;
    }

    a {
        color: $col_lightgrey;
        font-size: 16px;
    }
}

@media screen and (max-width: 1020px) {
    .nyhedercontainer {
        width: 100%;
    }
}